input[type="text"] {
	width: 30vw;
	margin: 0.75em 0.25em 0.75em 0;
	padding: 0.5em;
	border: 1px rgba(0, 0, 0, 0.5) solid;
	border-radius: 4px;
}

input[type="text"]:focus {
	outline: #d9afd9 solid 2px;
	border-radius: 4px;
}
